body {
    font-family: 'Open Sans Condensed', sans-serif;
    padding: 0;
    margin: 0;
}
div#divGraficos {
    width: 90%;
    max-width: 970px;
}
#filtro table {
    width: 100%;
    height: 50px;
}
#filtro table tbody tr {
    display: block;
    border-bottom: 1px dashed #D6D6D6;
    height: 49px;
}
#filtro table tbody tr td {
    text-transform: capitalize;
    padding: 7px 10px;
    height: 36px;
    line-height: 36px;
    /* border-right: 1px solid #f2f2f2; */
}
#filtro table tbody tr td select {
    height: 36px;
    margin-left: 10px;
}
.divDatos {
    float: left;
}
.divDatos p {
    padding: 0 7px;
    margin-bottom: 0;
    float: left;
    border-right: 1px solid #ccc;
}
span.boletin, span.hda, span.mivi, span.vrvpdv, span.veb, span.va {
    font-weight: 700;
    font-size: 19px;
}
.divCandidato {
    float: left;
    clear: both;
    margin: 25px auto;
    width: 100%;
}
.divCandidato table {
    margin: 0 auto;
}
.divCandidato thead {
    background: #AF1016;
    padding: 7px;
    color: #fff;
}
.divCandidato thead tr td {
    padding: 8px 10px;
    font-weight: 700;
    border-right: 1px solid #BD484C;
    font-size: 18px;
}
.divCandidato table tbody tr td {
    text-transform: capitalize;
    padding: 7px 10px;
    height: 36px;
    line-height: 36px;
    border-bottom: 1px solid #f2f2f2;
    /* border-right: 1px solid #f2f2f2; */
}

